

/**
* ============================
*  2.Varibales
* ============================
*/
$primary-font-size:1.05rem;
$primary-line-height:1.8;

$h1-font-size:70px;
$h2-font-size:24px;
$font-20:20px;
$smaller-font:18px;
 
 
$font-bold:700;
$font-medium:600;
$font-normal:400;
$font-family:'Muli', sans-serif;
$heading-font-family: 'Heebo', sans-serif;
$primary-color:#404040;
$white-text:#fff;
$primary-link:#333333;
$hover:#FE6061;
$grey-bg:#F8F9F9;
$font-style:italic;
$input-border:1px solid #D9D9D9;
$mouse-cursor:pointer;
$section-padding-50:50px;
$section-padding-100:100px;
$pt-60:60px;




