{{!< default}}

{{> "page_header"}}
<div class="tags-area clearfix">
    <div class="container">
        <div class="row">
          {{#get "tags" include="count.posts"}}
          {{#foreach tags}}
            <div class="col-lg-6 col-sm-6">
                <div class="tags-details d-flex">
                    <div class="tags-details-text">
                        <div class="title"><span>Total posts {{count.posts}}</span>
                           <h3><a href="{{url}}">{{name}}</a></h3>
                        </div>
 						            <p>{{description}}</p>
                    </div>
                </div>
            </div>
           {{/foreach}}
           {{/get}}
        </div>
    </div>
</div>
