{{!< default}}

{{> "home_hero_area"}}
<div class="main-content-area pt-85 clearfix">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 mx-auto">
             {{> "post_loop"}}
            </div>
        </div>
    </div>
</div>
{{pagination}}
