<div class="right-sidebar">
    <div class="sidebar-widget">
        <form action="#">
            <input type="search" placeholder="Search" id="ghost-search-field"/>
            <button type="submit"><i class="fa fa-search"></i></button>
        </form>
    </div>
    <div class="search-result">
        <ul id="ghost-search-results"></ul>
    </div>
    <div class="sidebar-widget">
        <div class="widget-title">
            <h3>{{t "Categories"}}</h3>
        </div>
        <div class="widget-text">
            <div class="tags-link">
                <ul>
                {{#get "tags" include="count.posts"}}
                  {{#foreach tags}}
                    <li><a href="{{url}}">{{name}}<span> ( {{count.posts}} )</span></a></li>
                  {{/foreach}}
                {{/get}}
                </ul>
            </div>
        </div>
    </div>
    <div class="sidebar-widget">
      {{> "popular_posts"}}
    </div>
</div>